body{
  background-image: url(./glassBG.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  background-attachment: fixed;

}

.card{

  display: block;
  text-align: center;
  border-radius: 12px !important;
  margin-top: 10px;
}
 
.consolaErrores{
  
  max-height: 400px;
  background-color: white;
  text-align: left;
  padding-left: 10px;

}
.textArea{
  margin-top: 20px;
  width: 350px;
}

.btnEnviar{
  
  background-color: #0779E4; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  width: 100px;
  border-radius: 12px;
  height: 45px;
  padding-top:8px;


}

.btnEnviar:hover {

  background-color: #27496D; /* Green */
  color: white;
}

 p{
   font-family: monospace;
 }
 

.card-img-top{
  width: 250px !important;
  }
  .parrafo1{
    color: blue;
  }
  .parrafo2{
    color: green;
  }
  .parrafo3{
    color: red;
  }